.TodoItem {
  display: flex;
  position: relative;

  & > div {
    min-width: 80px;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__edit {
    margin-right: 15px;
  }

  & > button > img {
    width: 100%;
    height: 100%;
  }

  &.line-through::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: -5%;
  }
}
