.TodoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & > div {
    margin-right: 20px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    width: 150px;
  }

  &__description {
    width: 400px;
  }

  &__expiration {
    width: 60px;
  }

  &__file {
    width: 100px;
  }

  &.line-through::after {
    content: "";
    position: absolute;
    width: 850px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: 70px;
  }
}
